.mainContainer {
  height: 100vh;
  z-index: 1;
  flex-grow: 1;
  background-color: rgba(34, 34, 34, 0.6);
  backdrop-filter: blur(10px);
  transition: all 0.3 cubic-bezier(0.175, 0.885, 0.35, 1.275);
}
.banner{
    height: 300px;
    position: relative;
}
.banner .bannerImg{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    /* filter: grayscale(100); */
}
.banner .bottomLayer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));

}
.banner .content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
.banner .content .breadCrump{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .content .breadCrump p{
    color: #2d3334;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.banner .content .breadCrump p span{
    color: #f1f1f1;
}
.banner .content .breadCrump i {
    color: #f1f1f1;
    font-size: 24px;
    cursor: pointer;
  }
.banner .content .artist{
    margin-top: auto;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.banner .content .artist .left .name{
    display: flex;
    align-items: center;
}
.banner .content .artist .left .name h2{
    font-size: 50px;
}
.banner .content .artist .left .name .check{
    width: 30px;
    margin-left: 15px;    
    font-size: 50px;
}
.banner .content .artist .left p{
    font-size: 14px;
}
.banner .content .artist .left p i{
    margin-right: 6px;
}
.banner .content .artist .left p span{
    color: #848484;
    margin-left: 5px;
}
.banner .content .artist .right{
    display: flex;
    align-items: center;    
}
.banner .content .artist .right a{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-size: 16px;
    color: #000000;
    margin: 0px 15px;
    border-radius: 100vh;
    font-weight: bold;
    text-align: center;
}
.banner .content .artist .right a i{
    margin-right: 10px;
    font-size: 12px;
    
}
.banner .content .artist .right a:nth-child(1){
    background: #ffffff;
    margin-left: 0;
}
.banner .content .artist .right a:nth-child(2){
    margin-right: 0;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.banner .content .artist .right a:hover{
    box-shadow: 0   px 0px 20px rgba(255, 2, 2, 0.4);
}




.menuList{
  display:flex ;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: #000000;
}

.menuList ul{
  display: flex;
  align-items: center;
}

.menuList ul li {
  list-style: none;
margin: 0 20px;
position: relative;
}

.menuList ul li a {
  text-decoration: none;
  color: #848484;
  font-size: 14px;
  font-weight: bold;
}
.menuList ul li::before{
position: absolute;
content: "";
bottom: -20px;
left:10px;
width: 0px;
height: 5px;
border-radius: 5px;
background: #f1f1f1;
}
.menuList ul li:hover::before, .menuList ul li.active::before{
  width: 20px;
  transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menuList ul li:hover a,
 .menuList ul li.active a{
  color: #f1f1f1;
  transition: 0.3s;
 }

 .menuList p{
  color:#f1f1f1;
  font-size: 14px;
 }

 .menuList p i{
margin-right: 6px;
font-size: 12px;

 }
 .menuList p span{
  font-size: 12px;
  text-align: center;
  color: #848484;
  margin-left:6px;
 }

 /* Main Audio List Styles */
 .audioList{
    padding: 10px 30px;
 }
 .audioList .title{
    font-size: 18px;
    color: #f1f1f1;
 }
 .audioList .title span{
    color : #848484;
    font-size: 12px;
 }
 .songsContainer{
    height: 220px;
    overflow-y: scroll;
    overflow-x: hidden; 
 }

 .songs{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #848484;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
 }

 .songs:hover,
 .songs.active{
    color: #f1f1f1;
    transition: 0.3s;
 }
  
 .count{
    margin-right: 10px;
 }
 
 .song{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 5px;
    cursor: pointer;
 }
 
.song .imgBox{
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 0.5em;
    background: #555;
    margin-right: 10px;
    /* overflow: hidden; */
   
}

.song .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.song .section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.song .section .songName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.song .section .hits{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.song .section .hits .hit,
.song .section .hits .duration{
    margin-right: 15px;
}
.song .section .hits .hit i,
.song .section .hits .duration i{
  font-size: 12px;
  margin-right: 5px;
}
.song .section .hits .favourite i{
    color: #e4b800;
    filter: drop-shadow(0px 0px 4px #e4b800);

}
