.musicPlayer {
  width: 100%;
  padding: 10px;
  display: flex;
}
.songImage {
  width: 120px;
  min-width: 120px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.songImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.songAttributes {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.songAttributes .top,
.songAttributes .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.songAttributes .top .left,
.songAttributes .top .middle,
.songAttributes .top .right {
  color: #595959;
  font: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.songAttributes .top .left i,
.songAttributes .top .middle i,
.songAttributes .top .right i {
  margin: 0px 15px;
  font-size: 18px;
}
.songAttributes .top .left .loved {
  color: #e4b800;
  filter: drop-shadow(0px 0px 4px #e4b800);
}
.songAttributes .top .middle .backward i:nth-child(2),
.songAttributes .top .middle .forward i:nth-child(1) {
  color: #9a9a9a !important;
}
.songAttributes .top .middle .playPause {
  height: 30px;
  width: 30px;
  min-width: 30px;
  border-radius: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.songAttributes .bottom {
  margin-top: 20px;
  padding: 0px 15px;
}
.songAttributes .bottom .progressBar {
  width: 78%;
  position: relative;
  height: 2px;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
/* chrome & safari browser */
.songAttributes .bottom .progressBar:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #848484;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.3s ease;
  z-index: 2;
}
.songAttributes .bottom .progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
}

/* firefox browser */
.songAttributes .bottom .progressBar::-moz-range-track {
  width: 78%;
  position: relative;
  height: 2px;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.songAttributes .bottom .progressBar::-moz-range-progress {
  background: #848484;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.3s ease;
  z-index: 2;
}
.songAttributes .bottom .progressBar::-moz-range-thumb {
  /* -webkit-appearance: none; */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
}
.songAttributes .bottom .currentTime,
.songAttributes .bottom .duration {
  color: #f1f1f1;
  font-size: 12px;
  font-weight: bold;
}
